@using Microsoft.Extensions.Configuration
@using TacticalShop.ViewModels
@inject IConfiguration Configuration

@model TacticalShop.ViewModels.ProductVm;

@{ ViewData["Title"] = "Home Page";
    var backendurl = Configuration.GetServiceUri("backend");
    var clientoldrating = ViewData["RatingData"] as RatingVm; }

<!-- Breadcrumb Section -->
<div class="section">
    <div class="breadcrumb-area bg-light">
        <div class="container-fluid">
            <div class="breadcrumb-content text-center">
                <h1 class="title">@Model.ProductName</h1>
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home </a>
                    </li>
                    <li class="active"> Product Detail</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End-->
<!-- Single Product Section Start -->
<div class="section section-margin">
    <div class="container">

        <div class="row">
            <div class="col-lg-5 offset-lg-0 col-md-8 offset-md-2 col-custom">

                <!-- Product Details Image Start -->
                <div class="product-details-img">

                    <!-- Single Product Image Start -->
                    <div class="single-product-img swiper-container gallery-top">
                        <div class="swiper-wrapper">
                            <a class="w-100">
                                <img style="width: 470px; height: 470px; object-fit: contain" class="w-100" src="@Model.PhotoUrl" alt="Product">
                            </a>
                        </div>
                    </div>
                    <!-- Single Product Image End -->

                    <div class="single-product-thumb swiper-container gallery-thumbs">
                    </div>
                </div>
                <!-- Product Details Image End -->
            </div>
            <div class="col-lg-7 col-custom">

                <!-- Product Summery Start -->
                <div class="product-summery position-relative">

                    <!-- Product Head Start -->
                    <div class="product-head mb-3">
                        <h2 class="product-title">@Model.ProductName</h2>
                    </div>
                    <!-- Product Head End -->

                    <div class="price-box mb-2">
                        <span class="regular-price">$@Model.ProductPrice</span>
                        @*<span class="old-price"><del>$90.00</del></span>*@
                    </div>

                    <!-- Rating Start -->
                    <span class="ratings justify-content-start">
                        <span style="font-weight: bold">
                            RATING:
                        </span>
                        <span style="color: #ff4545; font-size: 20px;font-weight: bold">@Model.StarRating/5</span>
                    </span>
                    <!-- Rating End -->
                    <!-- Description Start -->
                    <p class="desc-content mb-5">
                        <strong>CATEGORY:</strong> @Model.CategoryName <br /> <strong>BRAND:</strong> @Model.BrandName
                    </p>
                    <!-- Description End -->
                    <!-- Quantity Start -->
                    <div class="quantity mb-5">
                        <div class="cart-plus-minus">
                            <input class="cart-plus-minus-box" value="0" type="text">
                            <div class="dec qtybutton"></div>
                            <div class="inc qtybutton"></div>
                        </div>
                    </div>
                    <!-- Quantity End -->
                    <!-- Cart & Wishlist Button Start -->
                    <div class="cart-wishlist-btn mb-4">
                        <div class="add-to_cart">
                            <a class="btn btn-outline-dark btn-hover-primary" href="cart.html">Add to cart</a>
                        </div>
                        <div class="add-to-wishlist">
                            <a class="btn btn-outline-dark btn-hover-primary" href="wishlist.html">Add to Wishlist</a>
                        </div>
                    </div>
                    <!-- Cart & Wishlist Button End -->
                </div>
                <!-- Product Summery End -->
            </div>
        </div>

        <div class="row section-margin">
            <!-- Single Product Tab Start -->
            <div class="col-lg-12 col-custom single-product-tab">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active text-uppercase" id="home-tab" data-bs-toggle="tab" href="#connect-1" role="tab" aria-selected="true">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" id="profile-tab" data-bs-toggle="tab" href="#connect-2" role="tab" aria-selected="false">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" id="contact-tab" data-bs-toggle="tab" href="#connect-3" role="tab" aria-selected="false">Shipping Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" id="rating-tab" data-bs-toggle="tab" href="#connect-4" role="tab" aria-selected="false">Rating</a>
                    </li>
                </ul>
                <div class="tab-content mb-text" id="myTabContent">
                    <div class="tab-pane fade show active" id="connect-1" role="tabpanel" aria-labelledby="home-tab">
                        <div class="desc-content border p-3">
                            <p class="mb-3">@Model.ProductDescription</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="connect-2" role="tabpanel" aria-labelledby="profile-tab">
                        <!-- Start Single Content -->
                        <div class="product_tab_content  border p-3">
                            <!-- Start Single Review -->
                            <div class="single-review d-flex mb-4">

                                <!-- Review Details Start -->
                                <div class="review_details">
                                    <div class="review_info mb-2">

                                        <!-- Review Title & Date Start -->
                                        <div class="review-title-date d-flex">
                                            <h5 class="title">Admin - </h5><span> January 19, 2021</span>
                                        </div>
                                        <!-- Review Title & Date End -->
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in viverra ex, vitae vestibulum arcu. Duis sollicitudin metus sed lorem commodo, eu dapibus libero interdum. Morbi convallis viverra erat, et aliquet orci congue vel. Integer in odio enim. Pellentesque in dignissim leo. Vivamus varius ex sit amet quam tincidunt iaculis.</p>
                                </div>
                                <!-- Review Details End -->
                            </div>
                            <!-- End Single Review -->
                            <!-- Rating Wrap Start -->
                            <div class="rating_wrap">
                                <h5 class="rating-title mb-2">Add a review </h5>
                                <p class="mb-2">Your email address will not be published. Required fields are marked *</p>
                                <h6 class="rating-sub-title mb-2">Your Rating</h6>
                            </div>
                            <!-- Rating Wrap End -->
                            <!-- Comments ans Replay Start -->
                            <div class="comments-area comments-reply-area">
                                <div class="row">
                                    <div class="col-lg-12 col-custom">

                                        <!-- Comment form Start -->
                                        <form action="#" class="comment-form-area">
                                            <div class="row comment-input">

                                                <!-- Input Name Start -->
                                                <div class="col-md-6 col-custom comment-form-author mb-3">
                                                    <label>Name <span class="required">*</span></label>
                                                    <input type="text" required="required" name="Name">
                                                </div>
                                                <!-- Input Name End -->
                                                <!-- Input Email Start -->
                                                <div class="col-md-6 col-custom comment-form-emai mb-3">
                                                    <label>Email <span class="required">*</span></label>
                                                    <input type="text" required="required" name="email">
                                                </div>
                                                <!-- Input Email End -->
                                            </div>
                                            <!-- Comment Texarea Start -->
                                            <div class="comment-form-comment mb-3">
                                                <label>Comment</label>
                                                <textarea class="comment-notes" required="required"></textarea>
                                            </div>
                                            <!-- Comment Texarea End -->
                                            <!-- Comment Submit Button Start -->
                                            <div class="comment-form-submit">
                                                <button class="btn btn-dark btn-hover-primary">Submit</button>
                                            </div>
                                            <!-- Comment Submit Button End -->
                                        </form>
                                        <!-- Comment form End -->
                                    </div>
                                </div>
                            </div>
                            <!-- Comments ans Replay End -->
                        </div>
                        <!-- End Single Content -->
                    </div>
                    <div class="tab-pane fade" id="connect-3" role="tabpanel" aria-labelledby="contact-tab">
                        <!-- Shipping Policy Start -->
                        <div class="shipping-policy mb-n2">

                            <p class="desc-content mb-2">We will bring your items to your house in less than 24 hours.</p>
                            <ul class="policy-list mb-2">
                                <li>Deliver in 1-2 days (Typically by end of day).</li>
                                <li>
                                    Refund if not satisfied in 30 days.
                                </li>
                                <li>24/7 live support.</li>
                                <li>Worldwide shipping.</li>
                                <li>Free shipping in Ho Chi Minh City.</li>
                            </ul>
                            <p class="desc-content mb-2">No refund if the product was unboxed.</p>
                            <p class="desc-content mb-2">Free refund if product was damaged during shipping.</p>
                        </div>
                        <!-- Shipping Policy End -->
                    </div>
                    <div class="tab-pane fade" id="connect-4" role="tabpanel" aria-labelledby="contact-tab">
                        <!-- Shipping Policy Start -->
                        <div class="shipping-policy mb-n2">
                            <h4 class="title-3 mb-4">RATING</h4>
                            <div style="display: flex;justify-content: center;align-items: center;">
                                @if (clientoldrating != null)
                                {
                                    @for (int i = 1; i <= clientoldrating.Star; i++)
                                    {
                                        <a asp-controller="Rating" asp-action="UpdateRating" asp-route-id="@Model.ProductId" asp-route-star="@i">
                                            <span class="fa fa-star" style="font-size: 60px;color:#ff4545"></span>
                                        </a>}
                                    @for (int i = 1; i <= 5 - clientoldrating.Star; i++)
                                    {
                                        var star = i + clientoldrating.Star;
                                        <a asp-controller="Rating" asp-action="UpdateRating" asp-route-id="@Model.ProductId" asp-route-star="@star">
                                            <span class="fa fa-star-o" style="font-size: 60px"></span>
                                        </a>} }
                                else
                                {
                                    <p>YOU NEED TO LOGIN TO RATE PRODUCTS</p>
                                    <a asp-controller="Rating" asp-action="CreateRating" asp-route-id="@Model.ProductId" asp-route-star="1">
                                        <span class="fa fa-star-o" style="font-size: 50px"></span>
                                    </a>
                                    <a asp-controller="Rating" asp-action="CreateRating" asp-route-id="@Model.ProductId" asp-route-star="2">
                                        <span class="fa fa-star-o" style="font-size: 50px"></span>
                                    </a>
                                    <a asp-controller="Rating" asp-action="CreateRating" asp-route-id="@Model.ProductId" asp-route-star="3">
                                        <span class="fa fa-star-o" style="font-size: 50px"></span>
                                    </a>
                                    <a asp-controller="Rating" asp-action="CreateRating" asp-route-id="@Model.ProductId" asp-route-star="4">
                                        <span class="fa fa-star-o" style="font-size: 50px"></span>
                                    </a>
                                    <a asp-controller="Rating" asp-action="CreateRating" asp-route-id="@Model.ProductId" asp-route-star="5">
                                        <span class="fa fa-star-o" style="font-size: 50px"></span>
                                    </a>}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Product Tab End -->
            </div>
        </div>
    </div>
</div>
<!-- Single Product Section End -->