@inject IConfiguration Configuration
@using Microsoft.Extensions.Configuration
@model IList<TacticalShop.ViewModels.ProductVm>

@{
    ViewData["Title"] = "Home Page";
    var backendurl = Configuration.GetServiceUri("backend");
}
<!-- Breadcrumb Section Start -->
<div class="section">

    <!-- Breadcrumb Area Start -->
    <div class="breadcrumb-area bg-light">
        <div class="container-fluid">
            <div class="breadcrumb-content text-center">
                <h1 class="title">ALL PRODUCTS</h1>
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home </a>
                    </li>
                    <li class="active">Product</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End -->
</div>
<!-- Breadcrumb Section End -->
<!-- Shop Section Start -->
<div class="section section-margin">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9 col-12 col-custom">

                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper flex-column flex-md-row mb-10">

                    <!-- Shop Top Bar Left start -->
                    <div class="shop-top-bar-left mb-md-0 mb-2">
                        <div class="shop-top-show">
                            <span>Showing 1–12 of 39 results</span>
                        </div>
                    </div>
                    <!-- Shop Top Bar Left end -->
                    <!-- Shopt Top Bar Right Start -->
                    <div class="shop-top-bar-right">
                        <div class="shop-short-by mr-4">
                            <select class="nice-select" aria-label=".form-select-sm example">
                                <option selected>Show 24</option>
                                <option value="1">Show 24</option>
                                <option value="2">Show 12</option>
                                <option value="3">Show 15</option>
                                <option value="3">Show 30</option>
                            </select>
                        </div>

                        <div class="shop-short-by mr-4">
                            <select class="nice-select" aria-label=".form-select-sm example">
                                <option selected>Sort by Default</option>
                                <option value="1">Sort by Popularity</option>
                                <option value="2">Sort by Rated</option>
                                <option value="3">Sort by Latest</option>
                                <option value="3">Sort by Price</option>
                                <option value="3">Sort by Price</option>
                            </select>
                        </div>

                        <div class="shop_toolbar_btn">
                            <button data-role="grid_3" type="button" class="active btn-grid-4" title="Grid">
                                <i class="fa fa-th"></i>
                            </button>
                            <button data-role="grid_list" type="button" class="btn-list" title="List">
                                <i class="fa fa-th-list"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Shopt Top Bar Right End -->
                </div>
                <!--shop toolbar end-->
                <!-- Shop Wrapper Start -->
                <div class="row shop_wrapper grid_3">
                    @{
                        @foreach (var product in Model)
                        {
                            <vc:modal id="@product.ProductId"></vc:modal>

                            <!-- Single Product Start -->
                            <div class="col-lg-4 col-md-4 col-sm-6 product" data-aos="fade-up" data-aos-delay="200">
                                <div class="product-inner">
                                    <div class="thumb">
                                        <a style="height: 270px; object-fit: contain; width: 270px;" asp-controller="Product" asp-action="Detail" asp-route-id="@product.ProductId" class="image">
                                            <img style="height: 270px; object-fit: cover; width: 270px;" class="first-image" src="@backendurl/@product.ProductImageName" alt="Product" />
                                            <img style="height: 270px; width: 270px;" class="second-image" src="@backendurl/@product.ProductImageName" alt="Product" />
                                        </a>
                                        <div class="actions">
                                            <a href="wishlist.html" title="Wishlist" class="action wishlist">
                                                <i class="pe-7s-like"></i>
                                            </a>
                                            <a href="#" title="Quickview" class="action quickview" data-bs-toggle="modal" data-bs-target="#exampleModalCenter@(product.ProductId)">
                                                <i class="pe-7s-search"></i>
                                            </a>
                                            <a href="compare.html" title="Compare" class="action compare">
                                                <i class="pe-7s-shuffle"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="sub-title">
                                            <a href="single-product.html">@product.BrandName</a>
                                        </h4>
                                        <h5 class="title">
                                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.ProductId">@product.ProductName</a>
                                        </h5>
                                        <span class="ratings">

                                            <span class="rating-num">RATING:@product.StarRating/5</span>
                                        </span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere metus vitae arcu imperdiet, id aliquet ante scelerisque. Sed sit amet sem vitae urna fringilla tempus.</p>
                                        <span class="price">
                                            <span class="new">$@product.ProductPrice</span>
                                            @*<span class="old">$42.85</span>*@
                                        </span>
                                        <div class="shop-list-btn">
                                            <a title="Wishlist" href="#" class="btn btn-sm btn-outline-dark btn-hover-primary wishlist">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                            <button class="btn btn-sm btn-outline-dark btn-hover-primary" title="Add To Cart">Add To Cart</button>
                                            <a title="Compare" href="#" class="btn btn-sm btn-outline-dark btn-hover-primary compare">
                                                <i class="fa fa-random"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Product End -->
                        }
                    }
                </div>
                <!-- Shop Wrapper End -->
                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper mt-10">

                    <!-- Shop Top Bar Left start -->
                    <div class="shop-top-bar-left">
                        <div class="shop-short-by mr-4">
                            <select class="nice-select rounded-0" aria-label=".form-select-sm example">
                                <option selected>Show 6 Per Page</option>
                                @* <option value="1">Show 12 Per Page</option> *@
                                @* <option value="2">Show 24 Per Page</option> *@
                                @* <option value="3">Show 15 Per Page</option> *@
                                @* <option value="3">Show 30 Per Page</option> *@
                            </select>
                        </div>
                    </div>
                    <!-- Shop Top Bar Left end -->
                    <!-- Shopt Top Bar Right Start -->
                    <div class="shop-top-bar-right">
                        <nav>
                            <ul class="pagination">
                                @* <li class="page-item disabled"> *@
                                @*     <a class="page-link" href="#" aria-label="Previous"> *@
                                @*         <span aria-hidden="true">&laquo;</span> *@
                                @*     </a> *@
                                @* </li> *@
                                <li class="page-item">
                                    <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pagenumber="1" asp-route-pagesize="6">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pagenumber="2" asp-route-pagesize="6">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pagenumber="3" asp-route-pagesize="6">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" asp-controller="Product" asp-action="Index" asp-route-pagenumber="4" asp-route-pagesize="6">4</a>
                                </li>

                                @* <li class="page-item"> *@
                                @*     <a class="page-link" href="#" aria-label="Next"> *@
                                @*         <span aria-hidden="true">&raquo;</span> *@
                                @*     </a> *@
                                @* </li> *@
                            </ul>
                        </nav>
                    </div>
                    <!-- Shopt Top Bar Right End -->
                </div>
                <!--shop toolbar end-->
            </div>
            <div class="col-lg-3 col-12 col-custom">
                <!-- Sidebar Widget Start -->
                <aside class="sidebar_widget mt-10 mt-lg-0">
                    <div class="widget_inner" data-aos="fade-up" data-aos-delay="200">
                        <div class="widget-list mb-10">
                            <h3 class="widget-title mb-4">Search</h3>
                            <div class="search-box">
                                <input type="text" class="form-control" placeholder="Search Our Store" aria-label="Search Our Store">
                                <button class="btn btn-dark btn-hover-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="widget-list mb-10">
                            <h3 class="widget-title mb-4">Categories</h3>
                            <!-- Widget Menu Start -->
                            <nav>
                                <ul class="category-menu mb-n3">

                                    <li class="menu-item-has-children pb-4">
                                        <a href="#">CATEGORIES<i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown">
                                            <vc:category-menu></vc:category-menu>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children pb-4">
                                        <a href="#">BRANDS <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown">
                                            <li>
                                                <vc:brand-menu></vc:brand-menu>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                            <!-- Widget Menu End -->
                        </div>
                        <div class="widget-list mb-10">
                            <h3 class="widget-title mb-5">Price</h3>
                            <!-- Widget Menu Start -->
                            <form action="#">
                                <div id="slider-range"></div>
                                <button class="slider-range-submit" type="submit">Filter</button>
                                <input class="slider-range-amount" type="text" name="text" id="amount" />
                            </form>
                            <!-- Widget Menu End -->
                        </div>

                        <div class="widget-list">
                        </div>
                    </div>
                </aside>
                <!-- Sidebar Widget End -->
            </div>
        </div>
    </div>
</div>
<!-- Shop Section End -->