@using Microsoft.Extensions.Configuration

@model IList<TacticalShop.ViewModels.ProductVm>

@{ ViewData["Title"] = "Home Page";
    var backendurl = Configuration.GetServiceUri("backend"); }

@inject IConfiguration Configuration

<div class="section">
    <div class="hero-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">

                <!-- Hero Slider Item Start -->
                <div class="hero-slide-item swiper-slide">
                    <!-- Hero Slider Bg Image Start -->
                    <div class="hero-slide-bg">
                        <img src="assets/images/slider/slide-1.jpg" alt="Slider Image" />
                    </div>
                    <!-- Hero Slider Bg image End -->
                    <!-- Hero Slider Content Start -->
                    <div class="container">
                        <div class="hero-slide-content">
                            <h2 style="color: white" class="title">
                                RUSH BACKPACKS <br />
                                Collection
                            </h2>
                            <p style="color: white">Up to 70% off selected Product</p>
                            <a asp-controller="Product" asp-action="Index" class="btn btn-lg btn-primary btn-hover-dark">Shop Now</a>
                        </div>
                    </div>
                    <!-- Hero Slider Content End -->
                </div>
                <!-- Hero Slider Item End -->
                <!-- Hero Slider Item Start -->
                <div class="hero-slide-item swiper-slide">

                    <!-- Hero Slider Bg Image Start -->
                    <div class="hero-slide-bg">
                        <img src="assets/images/slider/slide-1-2.jpg" alt="Slider Image" />
                    </div>
                    <!-- Hero Slider Bg Image End -->
                    <!-- Hero Slider Content Start -->
                    <div class="container">
                        <div class="hero-slide-content">
                            <h2 class="title">
                                Trend Fashion<br />
                                Collection
                            </h2>
                            <p>Up to 40% off selected Product</p>
                            <a asp-controller="Product" asp-action="Index" class="btn btn-lg btn-primary btn-hover-dark">Shop Now</a>
                        </div>
                    </div>
                    <!-- Hero Slider Content End -->
                </div>
                <!-- Hero Slider Item End -->
            </div>

            <!-- Swiper Pagination Start -->
            <div class="swiper-pagination d-md-none"></div>
            <!-- Swiper Pagination End -->
            <!-- Swiper Navigation Start -->
            <div class="home-slider-prev swiper-button-prev main-slider-nav d-md-flex d-none">
                <i class="pe-7s-angle-left"></i>
            </div>
            <div class="home-slider-next swiper-button-next main-slider-nav d-md-flex d-none">
                <i class="pe-7s-angle-right"></i>
            </div>
            <!-- Swiper Navigation End -->
        </div>
    </div>
</div>

<!-- Banner Section Start -->
<div class="section section-margin">
    <div class="container">

        <!-- Banners Start -->
        <div class="row mb-n6">
            <!-- Banner Start -->
            <div class="col-lg-4 col-md-6 col-12 mb-6">
                <div class="banner" data-aos="fade-up">
                    <div class="banner-image">
                        <a href="">
                            <img src="assets/images/banner/banner-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <div class="small-banner-content">
                            <h4 class="sub-title">Stanley Bottles</h4>
                            <h3 class="title">ALL 30% <br />OFF</h3>
                            <a asp-controller="Product" asp-action="Index" class="btn btn-dark btn-sm">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner End -->
            <!-- Banner Start -->
            <div class="col-lg-4 col-md-6 col-12 mb-6">
                <div class="banner" data-aos="fade-up">
                    <div class="banner-image">
                        <a href="">
                            <img src="assets/images/banner/banner-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <div class="small-banner-content">
                            <h4 class="sub-title">Victorinox Knives</h4>
                            <h3 class="title">Buy One <br />Get One Free</h3>
                            <a asp-controller="Product" asp-action="Index" class="btn btn-dark btn-sm">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner End -->
            <!-- Banner Start -->
            <div class="col-lg-4 col-md-6 col-12 mb-6">
                <div class="banner" data-aos="fade-up">
                    <div class="banner-image">
                        <a href="">
                            <img src="assets/images/banner/banner-3.jpg" alt="">
                        </a>
                    </div>
                    <div class="info">
                        <div class="small-banner-content">
                            <h4 class="sub-title">5.11 Tactical Backpacks</h4>
                            <h3 class="title">20% Off <br />RUSH SERIES</h3>
                            <a asp-controller="Product" asp-action="Index" class="btn btn-dark btn-sm">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner End -->
        </div>
        <!-- Banners End -->
    </div>
</div>
<!-- Banner Section End -->
<!-- Feature Section Start -->
<div class="section">
    <div class="container">
        <div class="feature-wrap">
            <div class="row row-cols-lg-4 row-cols-xl-auto row-cols-sm-2 row-cols-1 justify-content-between mb-n5">
                <!-- Feature Start -->
                <div class="col mb-5" data-aos="fade-up">
                    <div class="feature">
                        <div class="icon text-primary align-self-center">
                            <img src="assets/images/icons/feature-icon-2.png" alt="Feature Icon">
                        </div>
                        <div class="content">
                            <h5 class="title">Free Shipping</h5>
                            <p>Free shipping on all order</p>
                        </div>
                    </div>
                </div>
                <!-- Feature End -->
                <!-- Feature Start -->
                <div class="col mb-5" data-aos="fade-up">
                    <div class="feature">
                        <div class="icon text-primary align-self-center">
                            <img src="assets/images/icons/feature-icon-3.png" alt="Feature Icon">
                        </div>
                        <div class="content">
                            <h5 class="title">Support 24/7</h5>
                            <p>Support 24 hours a day</p>
                        </div>
                    </div>
                </div>
                <!-- Feature End -->
                <!-- Feature Start -->
                <div class="col mb-5" data-aos="fade-up">
                    <div class="feature">
                        <div class="icon text-primary align-self-center">
                            <img src="assets/images/icons/feature-icon-4.png" alt="Feature Icon">
                        </div>
                        <div class="content">
                            <h5 class="title">Money Return</h5>
                            <p>Back guarantee under 5 days</p>
                        </div>
                    </div>
                </div>
                <!-- Feature End -->
                <!-- Feature Start -->
                <div class="col mb-5" data-aos="fade-up">
                    <div class="feature">
                        <div class="icon text-primary align-self-center">
                            <img src="assets/images/icons/feature-icon-1.png" alt="Feature Icon">
                        </div>
                        <div class="content">
                            <h5 class="title">Order Discount</h5>
                            <p>One every order over $150</p>
                        </div>
                    </div>
                </div>
                <!-- Feature End -->
            </div>
        </div>
    </div>
</div>
<!-- Feature Section End -->
<!-- Banner Fullwidth Start -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 pt-3 pb-5" data-aos="fade-up">
                <div class="banner">
                    <div class="banner-image">
                        <a>
                            <img src="~/assets/images/banner/big-banner.jpg" alt="Banner">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Fullwidth End -->
<!-- Product Deal Section Start -->
<!--<div class="section section-padding mt-0 overflow-hidden">
    <div class="container">-->
<!-- Section Title & Tab Start -->
<!--<div class="row">-->
<!-- Tab Start -->
<!--<div class="col-12">
    <div class="section-title-produt-tab-wrapper">
        <div class="section-title m-0" data-aos="fade-right">
            <h1 class="title">Daily Deals</h1>
        </div>
        <ul class="product-tab-nav nav mt-n3" data-aos="fade-left">
            <li class="nav-item">
                <a class="nav-link active mt-3" data-bs-toggle="tab" href="#product-deal-all">New Arrivals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mt-3" data-bs-toggle="tab" href="#product-deal-clothings">Best Sellers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mt-3" data-bs-toggle="tab" href="#product-deal-all">Sale Items</a>
            </li>
        </ul>
    </div>
</div>-->
<!-- Tab End -->
<!--</div>-->
<!-- Section Title & Tab End -->
<!-- Products Tab Start -->
<!--<div class="row">
    <div class="col">
        <div class="tab-content position-relative">
            <div class="tab-pane fade show active" id="product-deal-all">
                <div class="product-deal-carousel">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">-->
<!-- Product Start -->
<!--<div class="swiper-slide product-wrapper" data-aos="fade-right">-->
<!-- Single Product Deal Start -->
<!--<div class="product single-deal-product product-border-left">
    <div class="thumb">
        <a href="single-product-sale.html" class="image">
            <img src="assets/images/products/medium-size/1.jpg" alt="Product" />
        </a>
        <span class="badges">
            <span class="sale">-30%</span>
        </span>
    </div>
    <div class="content">
        <p class="inner-desc">Hurry Up! Offer Ends In:</p>
        <div class="countdown-area">
            <div class="countdown-wrapper d-flex" data-countdown="2022/12/24"></div>
        </div>
        <h4 class="sub-title">
            <a href="single-product-sale.html">Studio Design</a>
        </h4>
        <h5 class="title">
            <a href="single-product-sale.html">Enjoy The Rest T-Shirt</a>
        </h5>
        <span class="ratings">
            <span class="rating-wrap">
                <span class="star" style="width: 100%"></span>
            </span>
            <span class="rating-num">(4)</span>
        </span>
        <span class="price">
            <span class="new">$38.00</span>
            <span class="old">$42.05</span>
        </span>
        <button class="btn btn-sm btn-outline-dark btn-hover-primary">Add To Cart</button>
    </div>
</div>-->
<!-- Single Product Deal End -->
<!--</div>-->
<!-- Product End -->
<!-- Product Start -->
<!--<div class="swiper-slide product-wrapper" data-aos="fade-left">-->
<!-- Single Product Deal Start -->
<!--<div class="product single-deal-product product-border-left">
    <div class="thumb">
        <a href="single-product-sale.html" class="image">
            <img src="assets/images/products/medium-size/8.jpg" alt="Product" />
        </a>
    </div>
    <div class="content">
        <p class="inner-desc">Hurry Up! Offer Ends In:</p>
        <div class="countdown-area">
            <div class="countdown-wrapper d-flex" data-countdown="2022/12/24"></div>
        </div>
        <h4 class="sub-title">
            <a href="single-product-sale.html">Studio Design</a>
        </h4>
        <h5 class="title">
            <a href="single-product-sale.html">Classic Trucker Hat</a>
        </h5>
        <span class="ratings">
            <span class="rating-wrap">
                <span class="star" style="width: 65%"></span>
            </span>
            <span class="rating-num">(3)</span>
        </span>
        <span class="price">
            <span class="new">$07.00</span>
            <span class="old">$08.40</span>
        </span>
        <button class="btn btn-sm btn-outline-dark btn-hover-primary">Add To Cart</button>
    </div>
</div>-->
<!-- Single Product Deal End -->
<!--</div>-->
<!-- Product End -->
<!-- Product Start -->
<!--<div class="swiper-slide product-wrapper">-->
<!-- Single Product Deal Start -->
<!--<div class="product single-deal-product product-border-left">
    <div class="thumb">
        <a href="single-product-sale.html" class="image">
            <img src="assets/images/products/medium-size/9.jpg" alt="Product" />
        </a>
    </div>
    <div class="content">
        <p class="inner-desc">Hurry Up! Offer Ends In:</p>
        <div class="countdown-area">
            <div class="countdown-wrapper d-flex" data-countdown="2022/12/24"></div>
        </div>
        <h4 class="sub-title">
            <a href="single-product-sale.html">Studio Design</a>
        </h4>
        <h5 class="title">
            <a href="single-product-sale.html">Basic Lather Sneaker</a>
        </h5>
        <span class="ratings">
            <span class="rating-wrap">
                <span class="star" style="width: 80%"></span>
            </span>
            <span class="rating-num">(2)</span>
        </span>
        <span class="price">
            <span class="new">$88.00</span>
            <span class="old">$92.50</span>
        </span>
        <button class="btn btn-sm btn-outline-dark btn-hover-primary">Add To Cart</button>
    </div>
</div>-->
<!-- Single Product Deal End -->
<!--</div>-->
<!-- Product End -->
<!--</div>-->
<!-- Swiper Pagination Start -->
<!--<div class="swiper-pagination d-md-none"></div>-->
<!-- Swiper Pagination End -->
<!-- Next Previous Button Start -->
<!--<div class="swiper-product-deal-next swiper-button-next swiper-button-white d-md-flex d-none">
    <i class="pe-7s-angle-right"></i>
</div>
<div class="swiper-product-deal-prev swiper-button-prev swiper-button-white d-md-flex d-none">
    <i class="pe-7s-angle-left"></i>
</div>-->
<!-- Next Previous Button End -->
<!--</div>
    </div>
</div>
<div class="tab-pane fade" id="product-deal-clothings">
    <div class="product-deal-carousel">
        <div class="swiper-container">
            <div class="swiper-wrapper">-->
<!-- Product Start -->
<!--<div class="swiper-slide product-wrapper mb-n10">-->
<!-- Single Product Deal Start -->
<!--<div class="product single-deal-product product-border-left mb-10">
    <div class="thumb">
        <a href="single-product-sale.html" class="image">
            <img src="assets/images/products/medium-size/9.jpg" alt="Product" />
        </a>
    </div>
    <div class="content">
        <p class="inner-desc">Hurry Up! Offer Ends In:</p>
        <div class="countdown-area">
            <div class="countdown-wrapper d-flex" data-countdown="2022/12/24"></div>
        </div>
        <h4 class="sub-title">
            <a href="single-product-sale.html">Studio Design</a>
        </h4>
        <h5 class="title">
            <a href="single-product-sale.html">Basic Lather Sneaker</a>
        </h5>
        <span class="ratings">
            <span class="rating-wrap">
                <span class="star" style="width: 80%"></span>
            </span>
            <span class="rating-num">(2)</span>
        </span>
        <span class="price">
            <span class="new">$88.00</span>
            <span class="old">$92.50</span>
        </span>
        <button class="btn btn-sm btn-outline-dark btn-hover-primary">Add To Cart</button>
    </div>
</div>-->
<!-- Single Product Deal End -->
<!--</div>-->
<!-- Product End -->
<!-- Product Start -->
<!--<div class="swiper-slide product-wrapper mb-n10">-->
<!-- Single Product Deal Start -->
<!--<div class="product single-deal-product product-border-left mb-10">
    <div class="thumb">
        <a href="single-product-sale.html" class="image">
            <img src="assets/images/products/medium-size/1.jpg" alt="Product" />
        </a>
        <span class="badges">
            <span class="sale">-30%</span>
        </span>
    </div>
    <div class="content">
        <p class="inner-desc">Hurry Up! Offer Ends In:</p>
        <div class="countdown-area">
            <div class="countdown-wrapper d-flex" data-countdown="2022/12/24"></div>
        </div>
        <h4 class="sub-title">
            <a href="single-product-sale.html">Studio Design</a>
        </h4>
        <h5 class="title">
            <a href="single-product-sale.html">Enjoy The Rest T-Shirt</a>
        </h5>
        <span class="ratings">
            <span class="rating-wrap">
                <span class="star" style="width: 100%"></span>
            </span>
            <span class="rating-num">(4)</span>
        </span>
        <span class="price">
            <span class="new">$38.00</span>
            <span class="old">$42.05</span>
        </span>
        <button class="btn btn-sm btn-outline-dark btn-hover-primary">Add To Cart</button>
    </div>
</div>-->
<!-- Single Product Deal End -->
<!--</div>-->
<!-- Product End -->
<!--</div>-->
<!-- Swiper Pagination Start -->
<!--<div class="swiper-pagination d-md-none"></div>-->
<!-- Swiper Pagination End -->
<!-- Next Previous Button Start -->
<!--<div class="swiper-product-deal-next swiper-button-next swiper-button-white d-md-flex d-none">
    <i class="pe-7s-angle-right"></i>
</div>
<div class="swiper-product-deal-prev swiper-button-prev swiper-button-white d-md-flex d-none">
    <i class="pe-7s-angle-left"></i>
</div>-->
<!-- Next Previous Button End -->
<!--</div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Products Tab End -->
<!--</div>
</div>-->
<!-- Product Deal Section End -->
<!-- Banner Section Start -->
<div class="section">
    <div class="container">

        <!-- Banners Start -->
        <div class="row mb-n6 overflow-hidden">
            <!-- Banner Start -->
            <div class="col-md-6 col-12 mb-6" data-aos="fade-right">
                <div class="banner">
                    <div class="banner-image">
                        <a asp-controller="Product" asp-action="Index">
                            <img src="assets/images/banner/banner-4.jpg" alt="Banner Image">
                        </a>
                    </div>
                    <div class="info">
                        <div class="small-banner-content">
                            <h4 class="sub-title"><span>Premium</span> Knives from USA</h4>
                            <h3 class="title">Zero Tolerance Knives</h3>
                            <a asp-controller="Product" asp-action="Index" class="btn btn-primary btn-hover-dark btn-sm">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner End -->
            <!-- Banner Start -->
            <div class="col-md-6 col-12 mb-6" data-aos="fade-left">
                <div class="banner">
                    <div class="banner-image">
                        <a asp-controller="Product" asp-action="Index">
                            <img src="assets/images/banner/banner-5.jpg" alt="Banner Image">
                        </a>
                    </div>
                    <div class="info">
                        <div class="small-banner-content">
                            <h4 class="sub-title">Up to <span>40%</span> Off</h4>
                            <h3 class="title">All Products</h3>
                            <a asp-controller="Product" asp-action="Index" class="btn btn-primary btn-hover-dark btn-sm">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner End -->
        </div>
        <!-- Banners End -->
    </div>
</div>
<!-- Banner Section End -->
<!-- Product List Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row mb-n8">
            <div class="col-md-6 col-lg-4 col-12 mb-8" data-aos="fade-up">
                <!-- Product List Title Start -->
                <div class="product-list-title">
                    <h2 class="title pb-3 mb-0">Backpacks</h2>
                    <span></span>
                </div>
                <!-- Product List Title End -->
                <!-- Product List Carousel Start -->
                <div class="product-list-carousel">
                    <!--swiper-container-3d-->
                    <div class="">
                        <div class="swiper-wrapper">

                            <!-- Product List Wrapper Start -->
                            <div class="swiper-slide product-list-wrapper mb-n6">
                                @{
                                    @foreach (var product in Model)
                                    {
                                        @if (product.CategoryId == 1)
                                        {<!-- Single Product List Start -->
                                            <div class="single-product-list product-hover mb-6">

                                                <div class="thumb">
                                                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.ProductId" class="image">
                                                        <img style="width: 100px; height: 100px" class="first-image" src="@product.PhotoUrl" alt="Product" />
                                                        <img style="width: 100px; height: 100px" class="second-image" src="@product.PhotoUrl" alt="Product" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="title">
                                                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.ProductId">@product.ProductName</a>
                                                    </h5>
                                                    <span class="price">
                                                        <span class="new">$@product.ProductPrice</span>
                                                        @* <span class="old">$42.50</span> *@
                                                    </span>
                                                    <span class="ratings">

                                                        <span class="rating-num">@product.StarRating/5</span>
                                                    </span>
                                                </div>
                                            </div> <!-- Single Product List End -->}} }
                            </div>
                            <!-- Product List Wrapper End -->
                        </div>
                    </div>
                </div>
                <!-- Product List Carousel End -->
            </div>
            <div class="col-md-6 col-lg-4 col-12 mb-8" data-aos="fade-up">
                <!-- Product List Title Start -->
                <div class="product-list-title">
                    <h2 class="title pb-3 mb-0">Flashlight</h2>
                    <span></span>
                </div>
                <!-- Product List Title End -->
                <!-- Product List Start -->
                <div class="product-list-carousel-2">
                    <div class="">
                        <div class="swiper-wrapper">

                            <!-- Product List Wrapper Start -->
                            <div class="swiper-slide product-list-wrapper mb-n6">
                                @{
                                    @foreach (var product in Model)
                                    {
                                        @if (product.CategoryId == 3)
                                        {<!-- Single Product List Start -->
                                            <div class="single-product-list product-hover mb-6">

                                                <div class="thumb">
                                                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.ProductId" class="image">
                                                        <img style="width: 100px; height: 100px" class="first-image" src="@product.PhotoUrl" alt="Product" />
                                                        <img style="width: 100px; height: 100px" class="second-image" src="@product.PhotoUrl" alt="Product" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="title">
                                                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.ProductId">@product.ProductName</a>
                                                    </h5>
                                                    <span class="price">
                                                        <span class="new">$@product.ProductPrice</span>
                                                        @* <span class="old">$42.50</span> *@
                                                    </span>
                                                    <span class="ratings">

                                                        <span class="rating-num">@product.StarRating/5</span>
                                                    </span>
                                                </div>
                                            </div> <!-- Single Product List End -->}} }
                            </div>
                            <!-- Product List Wrapper End -->
                        </div>

                        <!-- Swiper Pagination Start -->
                        <!-- Swiper Pagination End -->
                    </div>
                </div>
                <!-- Product List End -->
            </div>
            <div class="col-md-6 col-lg-4 col-12 mb-8" data-aos="fade-up">
                <!-- Product List Title Start -->
                <div class="product-list-title">
                    <h2 class="title pb-3 mb-0">Knives/Multi-tool</h2>
                    <span></span>
                </div>
                <!-- Product List Title End -->
                <!-- Product List Start -->
                <div class="product-list-carousel-3">
                    <div class="">
                        <div class="swiper-wrapper">

                            <!-- Product List Wrapper Start -->
                            <div class="swiper-slide product-list-wrapper mb-n6">

                                @{
                                    @foreach (var product in Model)
                                    {
                                        @if (product.CategoryId == 4)
                                        {<!-- Single Product List Start -->
                                            <div class="single-product-list product-hover mb-6">

                                                <div class="thumb">
                                                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.ProductId" class="image">
                                                        <img style="width: 100px; height: 100px" class="first-image" src="@product.PhotoUrl" alt="Product" />
                                                        <img style="width: 100px; height: 100px" class="second-image" src="@product.PhotoUrl" alt="Product" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="title">
                                                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.ProductId">@product.ProductName</a>
                                                    </h5>
                                                    <span class="price">
                                                        <span class="new">$@product.ProductPrice</span>
                                                        @* <span class="old">$42.50</span> *@
                                                    </span>
                                                    <span class="ratings">

                                                        <span class="rating-num">@product.StarRating/5</span>
                                                    </span>
                                                </div>
                                            </div> <!-- Single Product List End -->}} }
                            </div>
                            <!-- Product List Wrapper End -->
                            <!-- Product List Wrapper Start -->
                            <!--<div class="swiper-slide product-list-wrapper mb-n6">-->
                            <!-- Single Product List Start -->
                        </div>
                    </div>
                </div>
                <!-- Product List End -->
            </div>
        </div>
    </div>
</div>
<!-- Product List End -->
<!-- Brand Logo Start -->
<div class="section">
    <div class="container">
        <div class="border-top">
            <div class="row">
                <div class="col-12">
                    <!-- Brand Logo Wrapper Start -->
                    <div class="brand-logo-carousel">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">

                                <!-- Single Brand Logo Start -->
                                <div class="swiper-slide single-brand-logo" data-aos="fade-up">
                                    <a href="#">
                                        <img class="brand-logo" src="assets/images/brand-logo/1.png" alt="Brand Logo 5.11">
                                    </a>
                                </div>
                                <!-- Single Brand Logo End -->
                                <!-- Single Brand Logo Start -->
                                <div class="swiper-slide single-brand-logo" data-aos="fade-up">
                                    <a href="#">
                                        <img class="brand-logo" src="assets/images/brand-logo/2.png" alt="Brand Logo">
                                    </a>
                                </div>
                                <!-- Single Brand Logo End -->
                                <!-- Single Brand Logo Start -->
                                <div class="swiper-slide single-brand-logo" data-aos="fade-up">
                                    <a href="">
                                        <img class="brand-logo" src="assets/images/brand-logo/3.png" alt="Brand Logo">
                                    </a>
                                </div>
                                <!-- Single Brand Logo End -->
                                <!-- Single Brand Logo Start -->
                                <div class="swiper-slide single-brand-logo" data-aos="fade-up">
                                    <a href="#">
                                        <img class="brand-logo" src="assets/images/brand-logo/4.png" alt="Brand Logo">
                                    </a>
                                </div>
                                <!-- Single Brand Logo End -->
                                <!-- Single Brand Logo Start -->
                                <div class="swiper-slide single-brand-logo" data-aos="fade-up">
                                    <a href="#">
                                        <img class="brand-logo" src="assets/images/brand-logo/5.png" alt="Brand Logo">
                                    </a>
                                </div>
                                <!-- Single Brand Logo End -->
                            </div>
                        </div>
                    </div>
                    <!-- Brand Logo Wrapper End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand Logo End -->